<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
<div class="col-md-4 offset-4 mt-4"></div>
  <div class="card-body">
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/05/15/14/55/cafe-768771__340.jpg" alt="Card image cap" height="330">
      <div class="card-body">
        <h5 class="card-title">Our resturant at Singapur</h5>
        <p class="card-text">A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit down to eat it. It is also a place where people go to enjoy the time and to eat a meal. Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food</p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801__340.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Our Restaurant at hyderabad</h5>
        <p class="card-text">A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit down to eat it. It is also a place where people go to enjoy the time and to eat a meal. Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food</p>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/21/16/02/bar-1846137__340.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Our restaurant at Dubai</h5>
        <p class="card-text">A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit down to eat it. It is also a place where people go to enjoy the time and to eat a meal. Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food</p>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>