<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div _ngcontent-nfc-c4 class="col-md-6 offset-md-3 mt-5">
        <h5 _ngcontent-nfc-c4 class="md-3 border-bottom">Please Login!!</h5>
        <form _ngcontent-nfc-c4>
            <div _ngcontent-nfc-c4 class="form-group">
                <label _ngcontent-nfc-c4 for="exampleInputEmail">Email Address</label>
                <input _ngcontent-nfc-c4 aria-describedby="emailHelp" class="form-control" id="exampleInputEmail" placeholder="Enter EmailAddress"  type="email">
                <small _ngcontent-nfc-c4 class="form-text text-muted" id="emailHelp">We'll never share Your email with anyone else.</small>
            </div>
            <div _ngcontent-nfc-c4 class="form-group">
                <label _ngcontent-nfc-c4 for="exampleInputPassword1">Password</label>
                <input _ngcontent-nfc-c4 class="form-control" id="exampleInputPassword1" placeholder="Password"  type="password">
            </div>
            <div _ngcontent-nfc-c4 class="form-group form-check">
                <input _ngcontent-nfc-c4 class="form-check-input" id="exampleCheck1" type="checkbox">
                <label _ngcontent-nfc-c4 class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button _ngcontent-nfc-c4 class="btn btn-primary" type="submit">sSubmit</button>   
        </form> 
    </div>   
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
