<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body >
    <div >
        <div _ngcontent-nfc-c4 class="col-md-4 offset-md-4 card card-body mt-5 ;"id="box-shadow" style="box-shadow:5px 5px 15px 15px rgb(81, 241, 241);  ">
          <h4 _ngcontent-nfc-c4 class="text-center text-primary mb-3">Feel free to Contact Us</h4>
          <h6 class="card-subtitle mb-2 text-muted">EMAIL ID :</h6>
          <div _ngcontent-nfc-c3 class="offset-md-2">
              <p _ngcontent-nfc-c3 class="text-muted">jessyrestaurant@outlook.com</p>
              <p _ngcontent-nfc-c3 class="text-muted">jessyrestaurant@gmail.com</p>
          </div>
          <h6 _ngcontent-nfc-c3>Phone Numbers :</h6>
          <div _ngcontent-nfc-c3 class="offset-md-2">
            <p _ngcontent-nfc-c3 class="text-muted">9192935469</p>
            <p _ngcontent-nfc-c3 class="text-muted">8956415278</p>
        </div>
        </div>
    </div>  
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>



